{% extends "base.html" %}
{% block title %}
   {{ title }}
{% endblock %}
{% block script %}
  <script src="/static/js/js.js"></script>
{% endblock %}

{% block content %}
<body onload="showfirst()"> 
  <form action="" method="post">
    {% if bHasDir %}
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
    {% endif %}
    {% for key, value in FolderAttributeDic.items %}
        <input type="submit" name="{{ key }}" value="{{ value }}" onClick="return clickSaveCookie(this.name)" style="width:500px;height:100px;"/><BR>
    {% endfor %}
    {% for image in ImagesList %}
        <img src="" tmp="{{ image }}" width="100%"/><BR>
    {% endfor %}
    {% for Txt in TxtList %}
        <input type="submit" name="{{ Txt }}" value="{{ Txt }}" onClick="return clickSaveCookie(this.name)" style="width:500px;height:100px;"/><BR>
    {% endfor %}
    {% if bHasImg %}
        <div id="myDiv">None</div>
        <button type="button" id="bt" tmp=" + rootDir +" onClick="clickToMark()" style="width:500px;height:100px;"/>Mark</button><BR>
    {% endif %}
  </form>  
</body>
{% endblock %}