{% extends "base.html" %}
{% block title %}
   {{ title }}
{% endblock %}
{% block script %}
  <script src="/static/js/js.js"></script>
{% endblock %}

{% block content %}
<body>
  <form action="" method="post">
      {% autoescape off %}
      <div id="myDiv">
          {{ content }}
      </div>
      {% endautoescape %}
      <button type="button" id="bt" onClick="clickToPage(-1)" style="width:500px;height:100px;"/>上一页</button><BR>
      <button type="button" id="bt" onClick="clickToPage(1)" style="width:500px;height:100px;"/>下一页</button><BR>
      <b id="CurrentPage">{{ CurrentPage }}</b> / <b id="PageNum">{{ PageNum }}</b>
  </form>  
</body>
{% endblock %}